$main-theme-color: #87dfd6;
$main-hover-color: #57DCB0;
$main-active-color: #29B48C;
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$active-color: $gray-2;
$color: #333;
$text-color: $gray-8;
$error: #f56556;
$success: #67C23A;
$warning: #E6A23C;
$info: #909399;
$item-height-regular: 32px;

// Font
$font-size-xs: 10px;
$font-size-xs11: 11px;
$font-size-sm: 12px;
$font-size-sm13: 13px;
$font-size-md: 14px;
$font-size-md15: 15px;
$font-size-lg: 16px;
$font-size-lg17: 17px;
$font-weight-bold: 500;
$line-height-xs: 14px;
$line-height-sm: 18px;
$line-height-md: 20px;
$line-height-lg: 22px;

//border
$main-border: 1px solid $gray-2;
$light-border: 1px solid $gray-1;
$border-color-main: $gray-2;
$border-color-light: $gray-1;

//box-shadow
$box-shadow: 0 0 8px 0 rgba(51,51,51,.1),0 2px 4px 0 rgba(51,51,51,.1);

//border-radius
$border-radius: 4px;

//padding
$padding-base: 4px;
$padding-sm: 8px;
$padding-xs: 12px;
$padding-md: 16px;
$padding-lg: 20px;

//Switch
$switch-height: 22px;
$switch-width: $switch-height * 2;
$switch-duration: 250ms;
$switch-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);

//animate
$duration: .3s;

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

svg {
  width: 100%;
  height: 100%;
}
